// New variable names, same original colors
$color-main: #31110F;
$color-light: #ffffff;
$color-dark: #000000;
$background-cream: #F7F4EB;
$background-dark-green: #0D1F08;
$background-deep-red: #1F0808;

$font-main: "Geist", sans-serif;

$bp-desktop: 1280px;
$bp-tablet: 800px;